*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width:400px;
    height: 400px;
    border: 2px solid;
    background-color: rgb(189, 85, 154);
}
@media screen and (orientation:portrait) {
    div{
        border-radius: 0px;
    }
    
}
@media screen and (orientation:landscape){
    div{
        border-radius: 20px;
    }
    
}